main{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.productInf img{
    width: 16rem;
    height: 10rem;
}

.productInf{
    display: flex;
    flex-direction: column;
}

.headProduct{
    display: flex;
    flex-direction: row;
}

.btnProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    height: 4.5rem;
}